<mat-list class="dragon-list">
  <mat-list-item *ngFor="let item of filteredList">
    <h4 mat-line class="list-item-name" matTooltip="Details" (click)="openDragon.emit(item.id)">{{ item.name }}</h4>
    <button class="mat-icon-button" matTooltip="Edit Dragon" (click)="editDragon.emit(item.id)">
      <mat-icon matListIcon class="app-nav-list-icon">
        edit
      </mat-icon>
    </button>
    <button class="mat-icon-button" matTooltip="Delete Dragon" (click)="deleteDragon.emit(item)">
      <mat-icon matListIcon class="app-nav-list-icon"> delete </mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
