<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Dragon Edit Page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-dragon-form #dragonForm [loading]="requestInProgress" [dragonInformation]="dragon" (submitEvent)="updateDragon($event)"></app-dragon-form>
    </mat-card-content>
</mat-card>
