<div class="login-container">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Authentication</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" formControlName="username" />
              <mat-error
                *ngIf="loginForm.controls['username'].hasError('required')"
              >
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Password"
                type="password"
                formControlName="password"
              />
              <mat-error
                *ngIf="loginForm.controls['password'].hasError('required')"
              >
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
</div>
