.dragon-form-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  .loading-spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.5);
  }
  .form-card{
    .form-title{
      font-size: 15px;
    }
    .form-input {
      width: 100%;
    }
  }
  .form-actions{
    text-align: center;
  }
}

