<div class="dragon-form-container">
  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="dragonForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="form-card">
      <mat-card-content>
        <div>
          <mat-form-field class="form-input">
            <input
              matInput
              placeholder="Dragon's name"
              formControlName="name"
            />
            <mat-error *ngIf="dragonForm.controls['name'].hasError('required')">
              Dragon's name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-input">
            <input
              matInput
              placeholder="Dragon's type"
              formControlName="type"
            />
            <mat-error *ngIf="dragonForm.controls['type'].hasError('required')">
              Dragon's type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="form-actions">
          <button
          *ngIf="initialValue"
          mat-raised-button
          color="secundary"
          type="button"
          (click)="resetForm()"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!dragonForm.valid"
          type="submit"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
