.details-card {
  margin: 0 auto;
  max-width: 500px;

  .dragon-details-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
      width: 50%;
      box-sizing: border-box;
    }
  }
  .details-actions{
    text-align: center;
  }
  .info-title {
    font-size: 18px;
  }
}
