<mat-card>
  <mat-card-title>Dragon's details</mat-card-title>
  <mat-card class="details-card">
    <mat-card-content>
      <mat-card class="dragon-details-information">
        <div><strong>Name:</strong></div>
        <div>{{ dragon?.name }}</div>

        <div><strong>Type:</strong></div>
        <div>{{ dragon?.type }}</div>

        <div><strong>Creation Date:</strong></div>
        <div>{{ dragon?.createdAt | date }}</div>

        <div><strong>Histories:</strong></div>
        <div>{{ dragon?.histories }}</div>
      </mat-card>
    </mat-card-content>
    <mat-action-list class="details-actions">
      <button
        class="mat-icon-button"
        matTooltip="Edit Dragon"
        (click)="editDragon()"
      >
        <mat-icon matListIcon>
          edit
        </mat-icon>
      </button>
    </mat-action-list>
  </mat-card>
</mat-card>
