<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create your new dragon</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-dragon-form #dragonForm [loading]="requestInProgress" (submitEvent)="saveDragon($event)"></app-dragon-form>
    </mat-card-content>
  </mat-card>

