<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false && loggedIn()"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a *ngFor="let item of menuItemList"
        mat-list-item
        [routerLink]="[item.route]"
        (click)='closeIfMobile()'
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && loggedIn()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-toolbar-row>
        <span>{{appTitle}}</span>
        <span class="example-spacer"></span>
        <span *ngIf="loggedIn()">{{getUserFirstName()}}</span>
        <button *ngIf="loggedIn()" mat-icon-button matTooltip="User options" [matMenuTriggerFor]="auth">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #auth="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-loading-indicator></app-loading-indicator>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
