<mat-card class="dragon-list-card">
  <mat-card-title>Dragon List</mat-card-title>
  <p>
    List containing all the known dragons.
  </p>
  <mat-card-content class="dragon-list">
    <app-list-filter class="filter-input" (filterChange)="list.filterList($event)"></app-list-filter>
    <app-list
      #list
      [dragonList]="dragonList"
      (openDragon)="openDragon($event)"
      (deleteDragon)="deleteDragon($event)"
      (editDragon)="editDragon($event)"
    ></app-list>
  </mat-card-content>
</mat-card>
