<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="mat-typography">
  {{ description }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
